/* KEYFRAMES */

@keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }


/* SVG  STYLES*/

.menu-btnBurger  {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: draw 1.2s linear forwards;
}






