/* KEYFRAMES */

@keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }



/* SVG ANIMATE*/

.menu-btnBurger  {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: draw 1.2s linear forwards;
}

.skyline {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: draw 2.75s linear forwards;
}

/**** Hamburger Menu *****/

/* !!!! !!!! !!!! ADD THE MENU TO ALL PAGES!!!! !!!! !!!!  */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn_burger {
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* Hamburger ANIMATION */
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}