
/****** FLEXBOX *****/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, {
    height: 100px;
    display: flex;
  }

.content {
    flex-grow: 1;
}

/****** FLEX ITEMS ******/

.logo,
a,
h1,
p,
.ham-lines {
    display: inline-flex;
}

.main-header {
    justify-content: space-around;
    align-items: center;
}


a {
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


p {
    flex-flow: column, wrap;
}

/****** FLEXBOX FOOTER  ******/


/* FOR STICKY FOOTER */
.site-footer {
    flex-shrink: 0;
    width: 100%;
}

/* FOOTER COPYRIGHT & NAV */

.footer-style {
    text-align-last: center;
}

ul.inner-footer {
    display: inline-flex;
    justify-content: space-between;
}




