
/****** FLEXBOX *****/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

header.main-header {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.content {
    flex-grow: 1;
}


/* Images in gallery */



/****** FLEX ITEMS ******/


.inner-footer.a {
    color: white;
    text-decoration: none;
}

/***** To Space Items in Flexbox Footer *****/
.inner-footer li:nth-of-type(n+2){
    padding-left: 5px;
    margin-left: 5px;
}


/****** FLEXBOX FOOTER  ******/


/* FOR STICKY FOOTER */
.site-footer {
    flex-shrink: 0;
    width: 100%;
}

/* FOOTER COPYRIGHT & NAV */

.footer-style {
    text-align-last: center;
}

ul.inner-footer {
    display: inline-flex;
    justify-content: space-between;
}


/******** MEDIA QUERIES ********/

/* @media (min-width: 769px) {

} */