
/****** FLEXBOX *****/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    flex-grow: 1;
}

/****** FLEX ITEMS ******/

.logo,
a,
h1,
p,
.ham-lines {
    display: inline-flex;
}

.main-header {
    justify-content: space-around;
}



a {
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

h1 {
    justify-content: center;    
}

p {
    flex-flow: column, wrap;
}

/****** FLEXBOX FOOTER  ******/


/* FOR STICKY FOOTER */
.site-footer {
    flex-shrink: 0;
    width: 100%;
}

/* FOOTER COPYRIGHT & NAV */

ul.inner-footer {
    display: inline-flex;
   justify-content: space-between;
    padding: 2px;
    margin: 2px;
  }

  li.inner-footer {
  
  }
  


