/******* BASE STYLES *******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin: 5px 10px 5px 10px
}

h2 {
  padding: 10px;
  margin: 15px;
}

h1,
h2 { 
    color: #6d6e70;
    text-align: center; 
}

h3,
h4 {
  padding: 5px;
  margin: 8px 0 5px 8px;
}

h3 {
  color: #103f57;
}

.body-links {
  text-decoration: none;
  color: #103f57;
}

a:hover {
  color: teal;
}

.house-links {
  padding: 10px 15px;
}

a { 
  color: teal;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

img {
    max-width: 98%;
    margin: 1px 1px 0;
    border-radius: 5px;
    /* border: solid 1px rgba(0, 0, 0, 0.1); */
  }

  /* when photo is selected - we want to enlarge it... border is a test! */
  /* img::selection {
    border: 2px solid blue;
  } */

/******** HEADER BASE STYLES ********/


.header-text {
  font-size: 1.3rem;
  color: white;
  padding: 5px;
  margin: 8px;
}


/* hamburger menu */
.navBtn {
  width: 80px;
  /* border: 5px solid tomato; */
  cursor: pointer;
  z-index: 1;
}

.menu-btnBurger {
  width: 80px;
}


#logo {
  width: 4.5em;
  align-items: center;
}

.main-header {
  box-shadow: 1px 1px 15px gray;
  z-index: 999;
  position: relative;
}

.main-header,
.footer-style {
  text-shadow:  1px 1px 3px gray;
  background-color: #103f57;
}


/* .fake-header::after,
.fake-header::before {
  content: ' ';
} */


/******** BODY BASE STYLES ********/

/* NAV MENU STYLE */

.nav {
  padding: 5px;
}

.nav li a {
  display: block;
  color: #103f57;
  font-size: 3.75vh;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 40px 0;
  
}

/* WHEN HAMBURGER MENU IS SELECTED AND OPENS*/

#nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: -500px;
  background-color: white;
  /* height: 100vh; */
  border-bottom: 2px solid #103f57;
  transition: top .3s ease-in-out;
  z-index: 500;
}

/* NavBar (menu) style and placement */

#nav-bar.open {
  top: 70px;
  margin: 25px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #103f57;
}

/* CONTENT STYLE */

p {
  display: inline-flex;
  color: gray;
  text-align: center;
  padding: 1em, 2em;
  margin: 10px;
  flex-wrap: wrap;
  line-height: 1.3;
  flex-flow: column, wrap;
}

/* Property List Descriptions */

.description {
  padding: 1rem;
  margin: 1rem;
}

.description li{
  list-style: disc;
}

/******** FOOTER BASE STYLES ********/

ul {
    list-style: none;
}

.footer-style {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  color: white;
  width: 100%;
}

.footer-style a{
  color: white;
  font-style: normal;
}

ul.inner-footer {
  padding: 2px;
  margin: 2px;
}

/* FORM Styles */

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  align-items: center;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
