/******* BASE STYLES *******/

/******** HEADER BASE STYLES ********/

h1,
h2 { 
    color: #6d6e70;
    padding: 5px; 
    margin: 5px; 
}

.header-text {
  font-size: 1.5em;
  color: white;
  padding: 5px;
}

.main-header,
.footer-style {
  background-color: rgba(30, 195, 195, .5);
}

.ham-lines {
  width: 75px;
}

.logo {
  width: 4.5em;
}

/******** BODY BASE STYLES ********/

p {
  color: gray;
  padding: 1em, 2em;
  margin: 10px;
  flex-wrap: wrap;
}

/******** FOOTER BASE STYLES ********/

ul {
    list-style: none;
}

.footer-style {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  color: white;
  width: 100%;
}

ul.inner-footer {
  padding: 2px;
  margin: 2px;
}

/******** MEDIA QUERIES ********/

/* @media (min-width: 769px) {
  .main-header,
  .main-content,
  .footer-style {
      width: 100%;
      margin: 0 auto;
      }
  } */
