/******* BASE STYLES *******/


p {
  color: gray;
  padding: 1em, 2em;
}

/******** HEADER BASE STYLES ********/
.main-header {
  background-color: rgba(211, 211, 211, .75);
}

.ham-lines {
  width: 75px;
}

.logo {
  width: 4em;
}

/******** BODY BASE STYLES ********/

h1, h2 {
  color: #6d6e70;
  margin: auto;
}

/******** FOOTER BASE STYLES ********/

ul {
    list-style: none;
}


.footer-style {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: teal;
  list-style: none;
  color: white;
  width: 100%;
}



/******** MEDIA QUERIES ********/

/* @media (min-width: 769px) {
  .main-header,
  .main-content,
  .footer-style {
      width: 100%;
      margin: 0 auto;
      }
  } */
